<%= form_with(model: game, local: true) do |form| %>
  <% if game.errors.any? %>
    <div id="error_explanation" class="form-group row">
      <h4><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h4>

      <ul>
      <% game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="form-row">
  <div class="form-group col-md-8">
    <%= form.label :name, class: 'col-form-label' %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>
</div>

<div class="form-row">
  <div class="form-group col-md-4">
    <%= form.label :pcount, 'Player count', class: 'col-form-label' %>
    <%= form.number_field :pcount, class: 'form-control' %>
  </div>
  <div class="form-group col-md-4">
    <%= form.label :year, 'Year', class: 'col-form-label' %>
    <%= form.number_field :year, class: 'form-control' %>
  </div>
</div>

<div class="form-row">

  <div class="control-group col-md-8">
    <%= form.label :publisher, 'Publisher' %>
    <div class="form-group">
      <%= form.select(:publisher_id, (Publisher.all.collect {|p| [ p.name, p.id ]}).sort, { }, { :class => 'form-control'}) %>
    </div>
  </div>

</div>

  <%= form.fields_for :game_designers do |builder| %>
  <div class="form-row">
      <div class="control-group col-md-8">
        <%= builder.label :designer_id %>
        <div class="form-group">
          <%= builder.select(:designer_id, (Designer.all.collect {|d| [ d.name, d.id ]}).sort, { :include_blank => true }, { :class => 'form-control' }) %>
        </div>
      </div>
  </div>
  <% end %>
 
<div class="form-row">
  <div class="form-group col-md-8">
    <%= form.label :owned, 'Owned' %>
    <%= form.check_box :owned, class: 'form-check-label' %>
  </div>
</div>


  <div class="form-group">
   <%= button_tag(type: 'submit', class: "btn btn-dark") do %>Submit<% end %>
  </div>


<% end %>
