<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
</head>

<div class="container">

<p id="notice"><%= notice %></p>

<h4><i class="fas fa-users"></i> PLAYERS</h4>

<div class="card mb-3">
  <div class="card-body">
    <table class="table table-borderless table-hover">
      <thead>
        <tr>
          <th scope="col" width="40px"><%= sort_link "id", "#" %></th>
          <th scope="col"><%= sort_link "name", "NAME" %></th>
          <th scope="col">LOGS</th>
          <th scope="col">TOP 3</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @players.each do |player| %>
          <tr>
            <td><%= player.id %></td>
            <td><%= player.name %></td>
            <td><%= PlayerScore.where(player_id: player.id).count %></td>
            <td>
              <ul class="list-unstyled">
                <% PlayerScore.where(player_id: player.id).joins(log: :game).group(:name).order('count_id desc').count('id').take(3).each do |g| %>
                  <li><%= g[0] %></li>
                <% end %> 
              </ul>
            </td>

            <td style="width: 45px;"><%= link_to player do %><i class="far fa-eye fa-fw"></i><% end %></td>
            <td style="width: 45px;"><%= link_to edit_player_path(player) do %><i class="fas fa-edit fa-fw"></i><% end %></td>
            <td style="width: 45px;"><%= link_to player, method: :delete, data: { confirm: 'Are you sure?' } do %><i class="far fa-trash-alt fa-fw"></i><% end %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

<br>
  <center>
    <table>
      <tr>
        <td><%= paginate @players %></td>
      </tr>
    </table>

    <table>
      <tr>
        <td><%= page_entries_info @players %></td>
      </tr>
    </table>
  </center>

  </div>
</div>

<p align="right">
  <button type="button" class="btn btn-light btn-sm">
    <a class="nav-link" href="/players/new"><i class="fas fa-plus-circle"></i> Add Player</a>
  </button>
</p>

<br>

</div>
